//BASE COLORS
$white: #fff;
$black: #000;

// PRIMARY COLORS
$primary-clr: #0d23ae;

//BODY COLORS
$bg-clr: #f8f9fa;
$nav-clr: $black;

// CARD COLORS
$cardp-clr: #5c7893;

//TYPOGRAHY COLORS
$paragrapgy-clr: rgba(0, 0, 0, 0.5);
$otherp-clr: rgba(0, 0, 0, 0.4);
$social-links: #656565;

//FOOTER COLOR
$footer-bgclr: rgba(0, 0, 0, 0.8);
$footerP-clr: rgba(255, 255, 255, 0.5);
$footerA-clr: rgba(255, 255, 255, 0.3);
