@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

//FONT FAMILY
$primary-font: 'Poppins', sans-serif;

//FONTS
$font-sz-100: 0.75rem;
$font-sz-200: 0.9rem;
$font-sz-300: 1.1rem;
$font-sz-350: 1.2rem;
$font-sz-400: 1.5rem;
