@use '../abstracts' as *;

.section-b {
  padding: 3rem 0 4rem;

  .about {
    margin-top: 2rem;
    h2 {
      margin-bottom: 1.5rem;
      text-align: left;
    }

    p {
      color: $paragrapgy-clr;
      font-size: $font-sz-200;
      margin-bottom: 1.5rem;
    }

    &-btn {
      span {
        margin-right: 0.5rem;
        color: $black;
      }

      &:hover {
        background-color: $primary-clr;
        color: $white;
      }

      &:hover span {
        color: $white;
      }
    }
  }

  //MEDIA QUERY
  @include medium {
    .grid {
      @include grid(repeat(2, 1fr), 2rem);
      padding-top: 3rem;
    }

    .about {
      margin-top: -1rem;
    }
  }

  @include large {
    .about {
      margin-left: 2rem;
      margin-top: 0;

      p {
        line-height: 1.7;
        margin-bottom: 2rem;
      }
    }
  }
}
